html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
table#petitionList th {
  padding-right: 20px;
}
table#petitionList th.dataType-dateTime {
  min-width: 120px;
}
table#petitionList th.petitionStatus {
  min-width: 120px;
}