@cellMargin: 15px;

html {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*, *:before, *:after {
	-webkit-box-sizing: inherit;
	-moz-box-sizing: inherit;
	box-sizing: inherit;
}

table#petitionList {
	/*th {
		padding-right: 20px;
	}*/

	td {
		border: 1px solid #161616;
	}

	th.dataType-dateTime {
		min-width: 120px;
	}

	th.petitionStatus {
		min-width: 120px;
	}

	.tableCell {
		/*padding-left: @cellMargin;*/

		div {
			margin: 0 @cellMargin;
			/*margin-right: @cellMargin;*/
		}
	}
	/*.tableCell {
		margin-left: 15px;
	}*/
}