html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}
.petitionsModeration table#petitionList td {
  /*border: 1px solid #161616;*/
}
.petitionsModeration table#petitionList th.dataType-dateTime {
  min-width: 120px;
}
.petitionsModeration table#petitionList th.petitionStatus {
  min-width: 120px;
}
.petitionsModeration table#petitionList .tableCell div {
  margin: 0 15px;
}
.petitionsModeration .actionButtons button:disabled {
  color: #C7C7C7;
}