@model List<Infopulse.EDemocracy.Model.BusinessEntities.Petition>
@{
    ViewBag.Title = "Модерація петицій";
}

<div class="row">
	<h2 class="col-md-12">Модерація петицій</h2>
</div>

<ol>
	@foreach (var petition in Model)
	{
		<li>@petition.Subject</li>
	}
</ol>