<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		<!-- local -->
		<!--<add name="DemocracyEntities" connectionString="metadata=res://*/DemocracyModel.csdl|res://*/DemocracyModel.ssdl|res://*/DemocracyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=ED;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!-- prod -->	
		<!--<add name="EDEntities" connectionString="metadata=res://*/EDModel.csdl|res://*/EDModel.ssdl|res://*/EDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.42.14;initial catalog=ED;user id=sa;password=Qwerty123;integrated security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
		<!-- dev -->
		<add name="EDEntities" connectionString="metadata=res://*/EDModel.csdl|res://*/EDModel.ssdl|res://*/EDModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=devb.enarod.org;initial catalog=enarod_dev;user id=enarod_app_dev;password=enarod_app_dev;integrated security=false;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<appSettings>
		<add key="webpages:Version" value="3.0.0.0" />
		<add key="webpages:Enabled" value="false" />
		<add key="PreserveLoginUrl" value="true" />
		<add key="ClientValidationEnabled" value="true" />
		<add key="UnobtrusiveJavaScriptEnabled" value="true" />
		<add key="CorsEnabled" value="true" />
		<add key="CorsOrigins" value="*" />
		<add key="NewPetitionLimit" value="5" />
		<add key="AnonymousUserName" value="testuser" />
		<add key="AppDomain" value="http://devb.enarod.org"/>
		<add key="ServiceDomain" value="http://dev.enarod.org"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5" />
		<httpRuntime targetFramework="4.5" />
		<pages>
			<namespaces>
				<add namespace="System.Web.Helpers" />
				<add namespace="System.Web.Mvc" />
				<add namespace="System.Web.Mvc.Ajax" />
				<add namespace="System.Web.Mvc.Html" />
				<add namespace="System.Web.Routing" />
				<add namespace="System.Web.WebPages" />
			</namespaces>
		</pages>
		<customErrors mode="Off" />
	</system.web>
	<system.webServer>
		<validation validateIntegratedModeConfiguration="false" />
		
	<handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			
			
			
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
			</dependentAssembly>
		<dependentAssembly><assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" /><bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" /></dependentAssembly><dependentAssembly><assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" /><bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" /></dependentAssembly><dependentAssembly><assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" /><bindingRedirect oldVersion="1.0.0.0-5.2.2.0" newVersion="5.2.2.0" /></dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="v11.0" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<!--<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="UACryptoWSPortBinding" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://213.156.91.16:8080/UACryptoServer/UACryptoWS" binding="basicHttpBinding" bindingConfiguration="UACryptoWSPortBinding" contract="UACryptoService.UACryptoWS" name="UACryptoWSPort" />
		</client>
	</system.serviceModel>-->
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="UACryptoWSPortBinding1" />
				<binding name="UACryptoWSPortBinding2" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://192.168.42.17:8080/UACryptoServer/UACryptoWS" binding="basicHttpBinding" bindingConfiguration="UACryptoWSPortBinding1" contract="Verification.Dpa.UACryptoWS" name="UACryptoWSPort1" />
			<endpoint address="http://192.168.42.13:8080/UACryptoServer/UACryptoWS" binding="basicHttpBinding" bindingConfiguration="UACryptoWSPortBinding2" contract="Verification.UaCrypto.UACryptoWS" name="UACryptoWSPort2" />
		</client>
	</system.serviceModel>
</configuration>