@{
	ViewBag.Title = "eNarod - Admin page";
}

<div class="adminMainPage">
	<div class="row">
		<h2 class="col-md-12">Actions</h2>
	</div>
	<div class="row" data-bind="visible: !isAuthorized()">
		<div class="col-md-12">
			<a href="#" data-bind="click: showLoginDialog">Sign in</a>
		</div>
	</div>
	<div class="row" data-bind="visible: isAuthorized()">
		<div class="col-md-12">
			<a href="/admin/petitions">Модерація петицій</a>
		</div>
	</div>
	<div class="row" data-bind="visible: isAuthorized()">
		<div class="col-md-12">
			<a href="/admin/users/manageroles">Керування користувачами</a>
		</div>
	</div>
	<div class="row" data-bind="visible: isAuthorized()">
		<div class="col-md-12">
			<a href="#" data-bind="click: signOut">Sign out</a>
		</div>
	</div>
</div>
<script src="~/Areas/Admin/app/AuthViewModel.js"></script>
<script src="~/Areas/Admin/app/utils.js"></script>
<script type="text/javascript">
	$(document).ready(function () {
		var authViewModel = new AuthViewModel();
		//ko.applyBindings(authViewModel, $('nav')[0]);
		ko.applyBindings(authViewModel);
		authViewModel.init();
	});
</script>