<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
		<add name="DemocracyEntities" connectionString="metadata=res://*/DemocracyModel.csdl|res://*/DemocracyModel.ssdl|res://*/DemocracyModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(local)\SQLExpress2012;initial catalog=ED;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<system.serviceModel>
		<bindings>
			<basicHttpBinding>
				<binding name="UACryptoWSPortBinding1" />
				<binding name="UACryptoWSPortBinding2" />
			</basicHttpBinding>
		</bindings>
		<client>
			<endpoint address="http://192.168.42.17:8080/UACryptoServer/UACryptoWS"
			 binding="basicHttpBinding" bindingConfiguration="UACryptoWSPortBinding1"
			 contract="Verification.Dpa.UACryptoWS" name="UACryptoWSPort1" />
			<endpoint address="http://192.168.42.13:8080/UACryptoServer/UACryptoWS"
			 binding="basicHttpBinding" bindingConfiguration="UACryptoWSPortBinding2"
			 contract="Verification.UaCrypto.UACryptoWS" name="UACryptoWSPort2" />
		</client>
	</system.serviceModel>
</configuration>